.profile-photo{
	width: 125px;
	height: 125px;
	border-radius: 50%;
	border: 2px solid green;
	overflow: hidden;
}
.profile-photo:before{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 121px;
	height: 121px;
	border-radius: 50%;
	border: 1px solid #fff;
}
.views div h6{
	background: #E5F3EA;
}
.views div p{
	font-size: .8em;
}
.most-popular{
	position: relative;
}
.also-product-img{
	height: 200px;
}
.most-popular>h6{
	background: #E5F3EA;
	position: absolute;
	width: 100%;
	top: -20px;
}
.also-product-info p{
	font-size: .8em;
}

@media screen and (max-width: 1070px){
	.profile-photo{
		width: 120px;
		height: 120px;
	}
	.profile-photo:before{
		width: 116px;
		height: 116px;
	}
}
@media screen and (max-width: 768px){
	.profile-photo{
		width: 90px;
		height: 90px;
	}
	.profile-photo:before{
		width: 86px;
		height: 86px;
	}
	.profile-info p{
		font-size: .9em;
	}
	.views div h6{
		font-size: .8em;
	}
}
@media screen and (max-width: 400px){
	.profile-photo{
		width: 80px;
		height: 80px;
	}
	.profile-photo:before{
		width: 76px;
		height: 76px;
	}
	.views{
		margin-top: 10px;
	}
}