.load-img{
	background-position: center !important;
	overflow: hidden;
	background-repeat: no-repeat;
	border: 1px solid rgba(0,0,0,.2);
	display: flex;
	align-items: center;
	cursor: pointer;	
}
.main-img{
	height: 355px;
	border-radius: 10px;
	background: url(../images/123.jpg);
	background-size: 500%;
}
.add-img{
	height: 50px;
	border-radius: 5px;
	background: url(../images/plus.jpg);
	background-size: 300%;
}
.load-img input{
	visibility: hidden;
}
@media screen and (max-width: 1200px){
	.sidebar{
		display: none;
	}
	.right-side{
		margin-left: 0;
		padding-top: 0;
	}
	.nav{
		display: none;
	}
	.ssearch{
		display: inline-block !important;
	}
	.menu-panel{
		display: block !important;
	}
	.logo{
		display: block !important;
	}
}
@media screen and (max-width: 992px){
	.add-img{
		height: 210px;
	}
	.main-img{
		height: 440px;
	}
@media screen and (max-width: 770px){
	.main-img{
		height: 360px;
	}
	.add-img{
		height: 170px;
	}
@media screen and (max-width: 400px){
	.main-img{
		height: 300px;
	}
	.add-img{
		height: 140px;
	}
}