.category-page ul li{
	font-weight: 600;
}
.right-side{
	margin-left: 0;
	padding-top: 0;
}
.ssearch{
	display: inline-block !important;
}
.menu-panel{
	display: block !important;
}
.logo{
	display: block !important;
}