*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.product-price{
	background: #E5F3EA;
	font-weight: 600;
}
.product-main-img img,.product-imgs img{
	max-width: 100%;
	max-height: 100%;
}
.product-main-img,.product-imgs{
	background: #fff;
	overflow: hidden;
}
.product-main-img{
	height: 320px;
}
.product-imgs{
	height: 70px;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 3px;
	cursor: pointer;
}
.img-border{
	border: 1px solid green !important;
}
.user-name{
	padding: 5px 0 !important;
	border-radius: 40px 5px 5px 40px;
}
.user-contact{
	background: #E5F3EA;
}
.user-contact i{
	text-align: center;
	width: 50px;
	background: #D9F2DF;
	padding: 15px 0;
}
.also-product{
	cursor: pointer;
	border-radius: 5px;
	margin-right: 20px;
	border: 1px solid lightgrey;
}
.also-product-img{
	height: 250px;
	overflow: hidden;
}





@media screen and (max-width: 1490px){
	.also-product{
		margin-right: 0;
	}
}
@media screen and (max-width: 1300px){
	.also-product-img{
		height: 220px;
	}
}
@media screen and (max-width: 992px){
	.also-product-img{
		height: 280px;
	}
}
@media screen and (max-width: 635px){
	.also-product-img{
		height: 220px;
	}
}
@media screen and (max-width: 500px){
	.also-product{
		max-height: 280px;
		overflow: hidden;
	}
	.also-product-img{
		height: 150px;
		margin: 0 !important;
		margin-bottom: 5px !important;
	}
}