*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1em;
}
body{
	background: #E5F0FF;
}
.wrapper{
	border-radius: 10px;
}
.acc-create{
	background: #5199FF;
	color: #fff !important;
}
.acc-create:hover{
	background: #5188FF;
}
input[type="radio"]{
	display: none;
}
.user1,.user2{
	width: 100%;
	height: 100px;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: 200% !important;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid lightgrey;
}
.user1{
	background: url(../images/Untitled-1.jpg);
}
.user2{
	background: url(../images/Untitled-2rgb.jpg);
}
input[type="radio"]:checked + label{
	border: 1px solid green !important;
}

@media screen and (max-width: 576px){
	.user1{
		background: url(../images/manafacturmob.jpg);
		background-size: 120% !important;
		height: 65px;
	}	
	.user2{
		background: url(../images/shopmob.jpg);
		background-size: 120% !important;
		height: 65px;
	}	
}